*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    color:#fff;
    font-family: monospace;
}

.content{
    background-color: rgb(26, 32, 53);
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
}

.binary-clock{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.column{
    float: left;
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-start;
}

.column:nth-child(2), .column:nth-child(4){
    margin-right: 1em;
}

.cell{
    width: 4em;
    height: 4em;
    background: rgb(221, 200, 200);
    border-radius: 50%;
}

.cell:not(:first-child){
    margin-bottom: 1em;
}

.digital-clock{
    display: flex;
    justify-content: center;
    margin: .5em;
    font-size: 4rem;
}

.socials{
    display:flex;
    align-items: center;

    position: absolute;
    width: 100%;
    background: rgba(0, 0, 0, 0.2);
    bottom: 0;
}

.socials strong{
    width: 100%;
    transform: translateX(-1.5em);
    text-align: center;
}

.social{
    display: flex;
    width: 3em;
}