*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    height: 100vh;
    color:#fff;
    font-family: monospace;
}

.content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100vh;
    background-color: rgb(26, 32, 53);
}

.binary-clock{
    display: flex;
    flex: 3 0 24vh;
    flex-direction: row;
    justify-content: center;
}

.column{
    height: 100%;
    float: left;
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-start;
}

.column:nth-child(2), .column:nth-child(4){
    margin-right: 1vh;
}

.cell{
    width: 5vh;
    height: 5vh;
    background: rgb(221, 200, 200);
    border-radius: 50%;
}

.cell:not(:first-child){
    margin-bottom: 1vh;
}

.digital-clock{
    display: flex;
    flex: 3 0 10vh;
    justify-content: center;
    margin:2vh;
    font-size: 7vh;
}

.socials{
    display:flex;
    flex: 0 2 auto;
    width: 100%;
}

.social{
    display: flex;
    flex: 1 4 auto;
}